# Entornos virtuales
.venv/
venv/

# Archivos de configuración de entorno
.env

# Archivos compilados de Python
__pycache__/

# Archivos de configuración de editores y sistemas
.vscode/

# Archivos de logs y temporales
*.log
*.tmp

# Otros archivos generados